body, html {
  width: 100%;
  height: 100%;
  font-size: 24px;
}

.rec figure:hover {
  box-shadow: 0px 0px 10px 10px rgb(221, 221, 221);
  z-index: 10;
}

button:hover {
  transform: scale(1.1);
}

img {
  width: 50%;
  height: 50%;
}

a {
  padding: 0%;
  margin: 0%;
  text-decoration: none;
  color: white;
}

a:hover {
  transform: scale(1.1);
}

.asvg {
  width: 5%;
  height: 5%;
  margin-right: 5%;
}

.break {
  display: none;
}

.acatalog {
  display: inline-block;
  margin: auto;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
  background-color: white;
  color: black;
  width: 10%;
  padding: 0.9%;
  border-radius: 15px;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100%;
  min-height: 100%;
}

.menu {
  background-color: rgb(53, 53, 173);
  min-width: 100%;
  flex-grow: 1;
  min-height: 20%;
  max-height: 20%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  min-width: 100%;
  align-self: center;
  flex-grow: 10;
}

.contacts {
  background-color: rgb(109, 109, 197);
  min-width: 100%;
  min-height: 20%;
  max-height: 20%;
  flex-grow: 1;
  margin-top: 5%;
  padding-bottom: 10%;
  font-size: 15px;
}

.addiv {
  display: flex;
  flex-flow: column nowrap;
  gap: 0;
  margin: 4% 0%;
  width: 600px;
  height: 400px;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
}

.adimg {
  position: relative;
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  min-height: 100%;
  margin-bottom: 3%;
}

.ad {
  position: absolute;
  display: block;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  transition: left 0.3s;
}

.imgs {
  border: 3px solid rgb(53, 53, 173);
  border-radius: 20px;
  display: block;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  text-align: center;
}

.arrow {
  z-index: 0;
  cursor: pointer;
  color: rgb(53, 53, 173);
  font-size: 30px;
  border-radius: 10000px;
  border: 4px solid rgb(53, 53, 173);
  padding: 0% 2% 0% 2%;
  width: 50px;
  height: 40px;
  margin: auto 1%;
}

.dot-navigation {
  /* Center the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Reset styles */
  list-style-type: none;
  margin: 0;
  margin-left: 22%;
  padding: 0;
}

.dot-navigation__item {
  /* Rounded border */
  border-radius: 9999px;
  height: 0.35rem;
  width: 0.35rem;
  /* Inactive dot */
  background-color: transparent;
  border: 1px solid #d1d5db;
  /* OPTIONAL: Spacing between dots */
  cursor: pointer;
  margin: 0 0.2rem;
}

/* Active dot */
.dot-navigation__item:active {
  background-color: rgb(53, 53, 173);
}

.dot-navigation__item:hover {
  transform: scale(1.1);
}

figure {
  display: inline-block;
  width: 15%;
  height: 15%;
  border: 1px solid lightgray;
  margin: 0%;
  padding-left: 3%;
  padding-right: 3%;
}

figcaption {
  height: 50%;
  white-space: wrap;
  font-size: 15px;
}

p {
  word-wrap: break-word;
}

h4 {
  text-indent: 7%;
}

.menu > * {
  display: inline-block;
  margin-top: auto;
  margin-bottom: auto;
}

form {
  margin-left: 8%;
  width: 70%;
  display: inline-block;
}

input {
  padding: 1.4%;
  border-radius: 15px;
}

button {
  width: 10%;
  padding: 0.9%;
  border-radius: 15px;
}

input {
  width: 70%;
  height: 100%;
}

#name {
  height: 50px;
}

.rec {
  min-width: 70%;
  overflow: hidden;
  overflow-x: auto;
  display: flex;
  flex-flow: row nowrap;
  max-height: 10%;
  margin-left: 7%;
  margin-right: 7%;
  gap: 2%;
}
.rec .buy {
  margin-bottom: 25%;
}
.rec div {
  min-width: 10%;
  flex: 0 0 12em;
}
.rec figure {
  width: 95%;
  height: 95%;
  position: relative;
}
.rec img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.rec b {
  font-size: 27px;
}

.buy {
  text-decoration: none;
  padding: 2% 0;
  box-sizing: border-box;
  font-weight: bold;
  display: inline-block;
  background-color: rgb(53, 53, 173);
  color: white;
  width: 100%;
  height: 20%;
  border-radius: 25px;
  margin-left: auto;
  vertical-align: middle;
  margin-right: auto;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
}

.skidka {
  display: inline-block;
  position: absolute;
  top: 46%;
  right: 45%;
  text-decoration: line-through;
  color: darkgray;
}

@media (min-width: 0px) and (max-width: 768px) {
  body {
    font-size: 13px;
  }
  .rec b {
    font-size: 16px;
  }
  .menu {
    flex-flow: row wrap;
  }
  form {
    width: 75%;
  }
  form button {
    display: none;
  }
  .acatalog {
    font-size: 13px;
    width: 10%;
    padding: 1.5%;
    border-radius: 15px;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
  .asvg {
    width: 15%;
    height: 15%;
    margin: 0 auto;
  }
  .menu {
    padding-bottom: 2%;
  }
  .arrow {
    font-size: 20px;
    border: 3px solid rgb(53, 53, 173);
    padding: 1% 3% 0% 3%;
  }
  .rec {
    gap: 4%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .rec div {
    flex: 0 0 16em;
  }
  .buy {
    margin-top: 0.5%;
    margin-bottom: 0%;
  }
  .rec figure {
    padding-bottom: 5%;
  }
  h4 {
    font-size: 25px;
    margin-left: 0%;
    margin-right: 0%;
  }
  .skidka {
    top: 43%;
    left: 25%;
  }
  .addiv {
    height: 200px;
    width: 350px;
  }
  .arrow {
    display: none;
    padding: 0% 3% 3% 3%;
  }
  .dot-navigation {
    margin-left: 0%;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .contacts {
    margin-top: 20%;
  }
  .addiv {
    width: 500px;
    height: 300px;
  }
  .acatalog {
    margin-left: 15%;
  }
  .arrow {
    padding: 0% 2% 0% 2%;
    font-size: 20px;
    border: 3px solid rgb(53, 53, 173);
    height: 30px;
  }
  .asvg {
    margin-right: 0%;
  }
}