$mainblue:rgb(53, 53, 173);
$notmainblue:rgb(109, 109, 197);
$mainmargin:7%;
@mixin flexcolumn()
{
    display:flex;
    flex-flow:column nowrap;
}
@mixin flexrow()
{
    display:flex;
    flex-flow:row nowrap;
}
body,html
{
    width:100%;
    height:100%;
    font-size:24px;
}
.osncatalog figure:hover
{
  box-shadow: 0px 0px 10px 10px rgba(221, 221, 221, 1);
    z-index:-1;
}
button:hover
{
    transform: scale(1.1);
}
img
{
    width:50%;
    height:50%;
}
a
{
    padding: 0%;
    margin: 0%;
    text-decoration:none;
    color:white;
}
a:hover
{
    transform: scale(1.1);
}
.asvg
{
    width: 5%;
    height: 5%;
    margin-right: 5%;
}
.break
{
    display:none;
}
.acatalog
{
display:inline-block;
margin:auto;
text-decoration:none;
text-align:center;
font-size:15px;
background-color:white;
color: black;
  width: 10%;
  padding: 0.9%;
  border-radius: 15px;

}

.main
{
    @include flexcolumn();
   
    min-width:100%;
    min-height:100%;
}
.menu
{
    background-color:$mainblue;
    min-width:100%;
    flex-grow:1;
    min-height:20%;
    max-height:20%;
    @include flexrow();
    justify-content:flex-start;
    align-items:center;
    
}
.contacts
{
    background-color:$notmainblue;
    min-width:100%;
    min-height:20%;
    max-height:20%;
    flex-grow:1;
    margin-top: 5%;
    padding-bottom: 10%;
}

figure
{
    display:inline-block;
    width:15%;
    height:15%;
    border:1px solid lightgray;
    margin:0%;
    padding-left:3%;
    padding-right:3%;
}
figcaption
{
    height: 50%;
    white-space:wrap;
    word-break:break-all;
    font-size: 15px;
}
p
{
    word-wrap: break-word;
}
h4
{
    text-indent: $mainmargin; 
}
.menu > *
{
    display:inline-block;
   margin-top:auto;
   margin-bottom:auto;
}
form 
{
    margin-left: 8%;
  width: 70%;  
  display:inline-block;
}
input
{
    padding: 1.4%;
    border-radius: 15px;
}
button
{
    width: 10%;
    padding: 0.9%;
    border-radius: 15px;
}
input
{
    width: 70%;
    height: 100%;
}
#name
{
  height: 50px;
}
.osncatalog
{
    flex-grow: 6;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin-left: 10%;
    flex:0 0 35em;
    gap:2%;
   align-content:flex-start;
   row-gap:1%;
   
   div 
   {
    flex: 0 0 10em;
    align-self: flex-start;
  }
  
  figure 
  {
    width: 100%;
    height: 100%;
    position: relative;
  }
 
  img 
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 40%;
  }
  b 
  {
    font-size: 20px;
  }
  .skidka 
  {
    display: inline-block;
    position: absolute;
    top: 32%;
    right: 50%;
    text-decoration: line-through;
    color: darkgray;
  }
}
  .sort {
   height: 20vh;
   width: 20vh;
    flex-grow:0;
    button 
    {
        background-color: $mainblue;
        color: white;
        font-size: 10px;
        width: 50%;
        height: 3vh;
        border: 0;
        font-weight: bold;
        cursor: pointer;
    }
  }
  
  .content1 {
    @include flexrow();
    min-width: 100%;
    align-self: center;
    flex-grow: 10;
    justify-content: center;
    margin-right: 7%;
  }
  .buy { 
  text-decoration:none;
  padding:2% 0;
  box-sizing: border-box;
    font-weight: bold;
    display: inline-block;
    background-color: rgb(53, 53, 173);
    color: white;
    width:100%;
    height: 20%;
    border-radius: 25px;
    margin-left: auto;
    vertical-align:middle;
    margin-right: auto;
    text-align:center;
    margin-bottom:5%;
    margin-top:5%;
  }
  
  .skidka {
    display: inline-block;
    position: absolute;
    top: 46%;
    right: 45%;
    text-decoration: line-through;
    color: darkgray;
  }
  @media (min-width: 0px) and (max-width: 768px)
  {
  body 
  {
      font-size:13px;
  }
      
      .menu
      {
          flex-flow:row wrap;
      }
      form
      {
          width:75%;
      }
      form button
      {
          display:none;
      }
  .acatalog
  {
  font-size:13px;
    width: 10%;
    padding: 1.5%;
    border-radius: 15px;
  
  }
  .break
  {
      flex-basis: 100%;
    height: 0;
  }
  .asvg
  {
      width: 15%;
      height: 15%;
      margin:0 auto;
      
  }
  .menu 
  {
      padding-bottom:2%;
  }
  .buy
  {
      margin-top:0.5%;
      margin-bottom:0%;
  }
  .osncatalog figure
  {
        padding-bottom:10%;
  }
  h4
  {
      font-size:25px;
      margin-left: 0%;
    margin-right: 0%;
  }

  .osncatalog div {
    flex: 0 0 11em;
    align-self: stretch;
    margin-bottom:5%;
  
  }
  .osncatalog
  {
      margin-left:20%;
      flex:0 0 25em;
      margin-left:5%;
      gap:4%;
      row-gap:0.13%;
      margin-bottom:40%;
  }
  .sort button
  {
      border-radius:8px;
      border:1px solid black;
      flex:0 0 1em;
      display:block;
      height :25px;
      width: 100%;
      
  }
  .sort
  {
  flex:0 0 1em;
      margin-left:2%;
      flex-flow:column nowrap;
  }
  .skidka
  {
      top:43%;
      left:25%;
  }
  .osncatalog .skidka
  {
      top:30%;
      left:40%;
      word-wrap: normal;
      white-space: nowrap;
  }

  }
  @media (min-width: 768px) and (max-width: 1000px)
  {
    .osncatalog
    {
      flex:0 0 25em;
      
    }
    .contacts
    {
      margin-top: 20%;
    }
  }